<div class="row wrapper border-bottom white-bg page-heading overview ng-scope">
    <div class="col-sm-6 col-lg-10">
        <h2 class="heading">Future Date Range by Market</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight airiq-wrapper">
    <form name="detailForm">
        <div class="card-wrapper whiteBox">
            <div class="card-title">
                <h3><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Details info</h3>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>Origin(ie TPA)</span>
                            <input type="text" ng-model="tpa" class="form-control" ng-required="true"></input>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>Destination(ie DXB)</span>
                            <input type="text" ng-model="dxb" class="form-control" ng-required="true"></input>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>Date Range</span>
                            <ui-date-field ng-model="startDate" placeholder="Start Date"></ui-date-field>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>&nbsp;</span>
                            <ui-date-field ng-model="endDate" min-date="startDate" placeholder="End Date"></ui-date-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>Type</span>
                            <ui-select selected-item="searchTypes[0]" options="searchTypes"></ui-select>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>Min Threshold</span>
                            <input type="number" ng-model="maxThreshold" class="form-control"></input>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-3">
                        <div class="item">
                            <span>Max Threshold</span>
                            <input type="number" ng-model="minThreshold" class="form-control"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row button-group">
            <button type="button" class="btn btn-lg btn-warning" ng-click="savetoDashboard()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save to Dashboard
            </button>
            <button type="submit" class="btn btn-lg btn-success" ng-click="buildReport()">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Build Report
            </button>
        </div>
    </form>
    <div class="clearfix"></div>

    <div class="card-wrapper whiteBox">
        <div class="card-title">
            <span><h3><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Date Range by Market</h3></span>
            <!-- <span class="pull-right"> -->
            <div class="btns" ng-show="dowloadLinks">
                <a data-toggle="dropdown" class="btn-toggle">
                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp;DownLoad
                </a>
                <ul class="dropdown-menu dropdown-menu-right action-menu" role="menu">
                    <li ng-click="downloadCSV()"><a href="javascript:void(0)">CSV</a></li>
                    <li ng-click="downLoadPDF()"><a href="javascript:void(0)">PDF</a></li>
                </ul>
            </div>
            <!-- </span> -->
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="item">
                                <span>All Airlines</span>
                                <ui-rec-switch ng-model="allAirlines" />
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5">
                            <div class="item muti-check">
                                <span>Select Tiers</span>
                                <ui-select has-filter="true" multiple="true" ng-modle="airlineFilters" ng-select="changeOption()" selected-item="selectedItem" options="options"></ui-select>
                            </div>
                        </div>
                        <div class="pull-right groups-wrapper-main"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="result-field text-center" id="main-placeholder">
                    <img src="assets/img/airdata/logowait.svg" alt=""/>
                </div> -->
                <div class="main-exported-content">
                    <div class="panel panel-default">
                        <div class="panelwithgraph">
                            <canvas id="main-QbyS" style="width: 100%;height: auto;"></canvas>
                            <div id="main-wj-graph-tooltip"></div>
                            <div id="main-loading" class="chart-loader" ng-show="loader">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <div id="main-placeholder" ng-show="preloader">
                                <img src="assets/img/airdata/logowait.svg" alt=""/>
                            </div>
                        </div>
                        <div class="panel-footer" id="main-graph-legend" ng-show="legend"></div>
                    </div>

                    <div class="panel panel-default table-responsive" id="main-report-block" style="display:none">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in airHeaders">
                                        <span>{{header}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <div class="panel panel-default hide" id="main-diff-block" style="display:none;">
            <div class="panel-heading">
                <h3 class="panel-title inline-block">Diff</h3>
            </div>
            <div class="panel-body panelwithgraph">
                <div class="row">
                    <div class="col-sm-12">
                        <canvas id="main-diff-upper" style="width: 100%;height: auto;"></canvas>
                    </div>
                </div>
            </div>
            <div class="panel-footer" id="main-graph-legend-diff">

            </div>
        </div>


        <div class="row small-tables main-exported-content">

            <div class="col-sm-6">
                <div class="panel panel-default" id="main-negative-block" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title inline-block">Differential by Date Range</h3>
                        <h3 class="panel-title inline-block ml40"></h3>
                    </div>
                    <div class="panel-body panelwithgraph">
                        <div class="row">
                            <div class="col-sm-12">
                                <canvas style="width: 100%;height: auto;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default" id="main-positive-block" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title inline-block">Profit Differential</h3>
                        <h3 class="panel-title inline-block multiplier"></h3>
                        <div class="multiplier-dropdown pull-right">
                            <label for="profitMultiplierMain">PAX Multiplier:</label>
                            <!-- <select id="profitMultiplierMain" class="form-control"></select> -->
                            <ui-select selected-item="searchTypes[0]" options="searchTypes" id="profitMultiplierMain"></ui-select>
                        </div>
                    </div>
                    <div class="panel-body panelwithgraph">
                        <div class="row">
                            <div class="col-sm-12">
                                <canvas style="width: 100%;height: auto;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
</div>